*, *:before, *:after { box-sizing: inherit; }

.widget-dialog a {
    text-decoration: none;
}

@keyframes widget-dialog__transition {
    0% {
        opacity: 0;
        bottom: -2rem;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.widget-dialog {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    display: none;
    z-index: 60;
    position: fixed;
    max-width: 24rem;
    min-width: 18rem;
    right: 0;
    bottom: 0;
    margin: 1rem;
    background: #2e3136;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
    color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), bottom 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation: widget-dialog__transition 0.2s;
}

.widget-dialog--active {
    display: block;
}

.widget-dialog__container {
    font-size: 1rem;
    line-height: 1.25;
    color: #99aab5;
    padding: 1rem;
}

.widget-dialog__close-button {
    float: right;
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: 0.25rem;
    cursor: pointer;
}

.widget-dialog__close-button path {
    fill: #99aab5;
}

.widget-dialog__close-button:hover path {
    fill: #7a8891;
}

.widget-dialog__close-button:active path {
    fill: #5c666d;
}

/**
 * Floating action button
 */


.widget-button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    display: block;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    margin: 1.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    height: 3.5rem;
    background: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.widget-button svg {
    height: 2rem;
    width: 2rem;
}

.widget-button svg path {
    fill: #7289da;
}

.widget-button:hover {
    background: #d9d9d9;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}

.widget-button:hover svg path {
    fill: #6174b9;
}

.widget-button:active {
    background: #b3b3b3;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
}

.widget-button:active svg path {
    fill: #506099;
}